*{
    margin: 0;
}
.container {
    background-color: #0a192f;
    width: 100%;
    min-height: 700px;
  }
  .nav-bar{
    width: 100%;
    min-height: 1.5rem;
    display: flex;
  }

  .logo{
    color: #ffffff;
    margin: 15px;
  }
  .space{
    color: #ffffff;
    margin: 15px;
    width: 50%;
  }
  .about{
    color: #ffffff;
    margin: 15px;
  }
  .experience{
    color: #ffffff;
    margin: 15px;
  }
  .work{
    color: #ffffff;
    margin: 15px;
  }
  .contact{
    color: #ffffff;
    margin: 15px;
  }
  .resume{
    color: #ffffff;
    margin: 15px;
  }
  .address-me{
    color: aqua;
  }
  .name{
    color: #ffffff;
  }
  .slogan{
    color: #ffffff;
  }